In [3]:
import pandas as pd

In [4]:
import requests
from bs4 import BeautifulSoup

In [7]:
def laliga_url(start_year):
    end_short = str(start_year + 1)[-2:]
    return f"https://en.wikipedia.org/wiki/{start_year}%E2%80%93{end_short}_La_Liga"

In [13]:
from io import StringIO

# Add headers to mimic a browser request
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

def scrape_legue_table(start_year):
    url = laliga_url(start_year)
    
    # Fetch the page with headers
    response = requests.get(url, headers=headers)
    response.raise_for_status()
    
    # Parse tables from the HTML content
    tables = pd.read_html(StringIO(response.text), attrs={"class": "wikitable"})
    league_table = tables[0]
    return league_table

In [14]:
df_2014_2015 = scrape_legue_table(2014)
df_2014_2015

,Pos,Team,Pld,W,D,L,GF,GA,GD,Pts,Qualification or relegation
0,1,Barcelona (C),38,30,4,4,110,21,+89,94,Qualification for the Champions League group s...
1,2,Real Madrid,38,30,2,6,118,38,+80,92,Qualification for the Champions League group s...
2,3,Atlético Madrid,38,23,9,6,67,29,+38,78,Qualification for the Champions League group s...
3,4,Valencia,38,22,11,5,70,32,+38,77,Qualification for the Champions League play-of...
4,5,Sevilla,38,23,7,8,71,45,+26,76,Qualification for the Champions League group s...
5,6,Villarreal,38,16,12,10,48,37,+11,60,Qualification for the Europa League group stag...
6,7,Athletic Bilbao,38,15,10,13,42,41,+1,55,Qualification for the Europa League third qual...
7,8,Celta Vigo,38,13,12,13,47,44,+3,51,NaN
8,9,Málaga,38,14,8,16,42,48,−6,50,NaN
9,10,Espanyol,38,13,10,15,47,51,−4,49[c],NaN
10,11,Rayo Vallecano,38,15,4,19,46,68,−22,49[c],NaN
11,12,Real Sociedad,38,11,13,14,44,51,−7,46,NaN
12,13,Elche[d] (R),38,11,8,19,35,62,−27,41,Relegation to Segunda División
13,14,Levante,38,9,10,19,34,67,−33,37[e],NaN
14,15,Getafe,38,10,7,21,33,64,−31,37[e],NaN
15,16,Deportivo La Coruña,38,7,14,17,35,60,−25,35[f],NaN
16,17,Granada,38,7,14,17,29,64,−35,35[f],NaN
17,18,Eibar,38,9,8,21,34,55,−21,35[f],NaN
18,19,Almería[g] (R),38,8,8,22,35,64,−29,29,Relegation to Segunda División
19,20,Córdoba (R),38,3,11,24,22,68,−46,20,Relegation to Segunda División