In [19]:
import pandas as pd

In [20]:
full_data = pd.read_csv('laliga_2014_2026.csv')

In [21]:
print(full_data.shape)
full_data.head()

(240, 12)

,pos,team,pld,w,d,l,gf,ga,gd,pts,qualification_or_relegation,season
0,1,Barcelona,38,30,4,4,110,21,+89,94,Qualification for the Champions League group s...,2014-15
1,2,Real Madrid,38,30,2,6,118,38,+80,92,Qualification for the Champions League group s...,2014-15
2,3,Atlético Madrid,38,23,9,6,67,29,+38,78,Qualification for the Champions League group s...,2014-15
3,4,Valencia,38,22,11,5,70,32,+38,77,Qualification for the Champions League play-of...,2014-15
4,5,Sevilla,38,23,7,8,71,45,+26,76,Qualification for the Champions League group s...,2014-15

# Data Exploration

In [22]:
# number of appearences of the team for the past 12 seasons
# if appearence is below 12 then the team was relegated at some point

full_data['team'].value_counts()

team
Barcelona              12
Real Madrid            12
Atlético Madrid        12
Valencia               12
Sevilla                12
Villarreal             12
Athletic Bilbao        12
Celta Vigo             12
Real Sociedad          12
Getafe                 11
Real Betis             11
Espanyol               10
Alavés                  9
Osasuna                 8
Levante                 8
Rayo Vallecano          8
Eibar                   7
Granada                 7
Mallorca                6
Girona                  6
Valladolid              5
Leganés                 5
Elche                   5
Las Palmas              5
Deportivo La Coruña     4
Málaga                  4
Cádiz                   4
Almería                 3
Huesca                  2
Sporting Gijón          2
Córdoba                 1
Oviedo                  1
Name: count, dtype: int64